body{
	background: gray;
	background-image: url("webserver.png")
	color: white;
}

h2{
	/*color: red;*/
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	text-shadow: 3px 2px black;
}
p{
	/*color: red;*/
	text-align: center;
	/*text-decoration: underline;*/
	text-transform: uppercase;
	/*text-shadow: 3px 2px black;	*/
}
img{
	align-self: center;
}