<!DOCTYPE html>
<html lang="en">
<head>
<title>Python Web Server: Filter Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

<link rel="stylesheet" href="{{ url_for('static', filename='styleFilter.css') }}"/> 

<!-- <style>

</style>
 -->
</head>
<body>

<div class="w3-top">
  <div class="w3-bar w3-white w3-card w3-left-align w3-large">
    <a href="{{url_for('main')}}" class="w3-bar-item w3-button w3-padding-large w3-white">Home Page</a>
    <a href="{{url_for('explain')}}" class="w3-bar-item w3-button w3-padding-large w3-white">Explanation</a>
    <a href="{{url_for('scraper')}}" class="w3-bar-item w3-button w3-padding-large w3-white">Scraper</a>
    <a href="{{url_for('filter')}}" class="w3-bar-item w3-button w3-padding-large w3-white">Filter</a>
    <a href="{{url_for('about')}}" class="w3-bar-item w3-button w3-padding-large w3-white">About Page</a>
  </div>
</div>

<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Python Web Server: Filter Function</h1>
  <p>Goal is to run the in house filter projects I've built.</p>

  <div class="container" id="container" align="center">
    <div class="form-container sign-up-container" align="center">
      <form action="#" method="post" id="test1">
          <h1>Filter Webscraper Keywords:</h1>
          <input type="text" id="keyword1" placeholder="keyword">
          <input type="text" id="keyword2" placeholder="keyword">
          <input type="text" id="keyword3" placeholder="keyword">
          <input type="text" id="keyword4" placeholder="keyword">
          
          <select id="source" name="source">
            <option value="au">Source 1</option>
            <option value="ca">Source 2</option>
            <option value="usa">Source 3</option>
          </select>
          <br>
          <button class="button">Run Filter</button>
      </form>
    </div>
    <div class="form-container sign-in-container" align="center">
      <form action="{{ url_for('filterTweets') }}" method="post" id="test2">
          <h1>Filter Twitter Keywords</h1>
          <div class="alert">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <div class="{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endwith %}
        </div>
          <input type="text" name="keyword1" placeholder="keyword">
          <input type="text" name="keyword2" placeholder="keyword">
          <input type="text" name="keyword3" placeholder="keyword">
          <input type="text" name="keyword4" placeholder="keyword">
          <label class="label">
            <div class="toggle">
              <input class="toggle-state" type="checkbox" name="check"/>
              <div class="toggle-inner">
                 <div class="indicator"></div>
              </div>
              <div class="active-bg"></div>
            </div>
            <div class="label-text">"AND" Functionality for Keywords</div>
          </label>          
          <input type="text" id="handle" placeholder="type in handle @______" name="projectFilepath">
          <button class="btn btn-primary" name="filterbtn" value="input" title="Please make sure you have already scraped this handle!"type="submit">Run: Filter Tweets: Input Handle</button>
          <button class="btn btn-success" name="filterbtn" value="KKM" type="button">Run: Filter Tweets: KKM</button>
          <button class="btn btn-success" name="filterbtn" value="CSK" type="button">Run: Filter Tweets: CSK</button>

      </form>
    </div>

    <div class="overlay-container" align="center">
      <div class="overlay">
          <div class="overlay-panel overlay-left">
              <h1>Want to Run The Twitter Scrapers?</h1>
              <!-- <p>
                  To keep connected with us please login with your personal info
              </p> -->
              <button class="button" id= "twitScrapers" type="button" onclick="document.getElementById('container').classList.remove('right-panel-active')">Click Me!</button>
          </div>
          <div class="overlay-panel overlay-right">
              <h1>Want to Run The Website Scrapers?</h1>
              <button class="button" id="webScrapers" type="button" onclick="document.getElementById('container').classList.add('right-panel-active')">Click Me!</button>
          </div>
      </div>
    </div>
  </div>


</header>

<div class="footer">
  <p>Still in progress...</p>
  <a href="https://facebook.com">Facebook</a>
  <a href="https://twitter.com/">Twitter</a>
  <a href="https://www.linkedin.com/">LinkedIn</a>
</div>

</body>
</html>