<!DOCTYPE html>
<html lang="en">
<head>
<title>Python Web Server</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

<link rel="stylesheet" href="{{ url_for('static', filename='styleFilterResult.css') }}"/> 


</head>
<body>
<div class="w3-top">
  <div class="w3-bar w3-white w3-card w3-left-align w3-large">
    <a href="{{url_for('main')}}" class="w3-bar-item w3-button w3-padding-large w3-white">Home Page</a>
    <a href="{{url_for('explain')}}" class="w3-bar-item w3-button w3-padding-large w3-white">Explanation</a>
    <a href="{{url_for('scraper')}}" class="w3-bar-item w3-button w3-padding-large w3-white">Scraper</a>
    <a href="{{url_for('filter')}}" class="w3-bar-item w3-button w3-padding-large w3-white">Filter</a>
    <a href="{{url_for('about')}}" class="w3-bar-item w3-button w3-padding-large w3-white">About Page</a>
  </div>
</div>


<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h2 style="color: white">Return to <a href="{{url_for('filter')}}">Filter Functions</a><h2>

  <h1 class="w3-margin w3-jumbo">
  {% if deletedFile %}
      File Deleted: {{ deletedFile }}
    
  {% else %}
    {% if account %}
      Account Scraped: {{ account }}
    {% else %}
      No results passed...
    {% endif %}
  {% endif %}
    
  </h1>
<br>
  <h2>
    {% if account %}
      Keywords used:
      {% for word in words %}
        {{word}},
      {% endfor %}
    {% endif %}
  </h2>
<br>
  <h2>
    {% if numLines %}
      Number of results:
      {{numLines}}
    {% endif %}
    <br>
    <br>
    {% if csvFileName %}
    
      File is currently saved as
      {{csvFileName}}
      in your computer
      {% endif %}
      <br>
  </h2>
<br>
  {% if csvFileName %}

  <button onclick="document.getElementById('table1').style.display='block'" class="button" id="help" name="decisionBtn" value="preview">Preview Results</button>

  <div class="w3-container w3-cyan">
    <table id="table1">
      <tr>
          {% for value in header %}
          <td>{{ value }}</td>
          {% endfor %}
      </tr>
      {% for row in rows %}
      <tr>
          {% for value in row %}
          <td>{{ value }}</td>
          {% endfor %}
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>

 {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <div class="{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endwith %}

  {% if deletedFile %}
      Specified file has been deleted
    
  {% else %}
  <form action="{{ url_for('deleteBtnFilter') }}" method="post" id="test2">
    <button class="btn btn-primary" name="deleteBtn" value="{{csvFileName}}" title="Delete?"type="submit">Delete File</button>
  </form>
  {% endif %}
    

<!--   <script>
    function testFunction(){
      document.getElementById("table1").style.display="visibile";
    }
  </script>
 -->


</header>

<div class="footer">
  <p>Still in progress...</p>
  <a href="https://facebook.com">Facebook</a>
  <a href="https://twitter.com/">Twitter</a>
  <a href="https://www.linkedin.com/">LinkedIn</a>
</div>

</body>
</html>